
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: hsl(203, 48%, 87%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 500;
    min-width: 750px;
}


.box {
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.morgage-calc-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-title{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.3px solid hsl(203, 41%, 72%);
    border-radius: 0.2rem;
} 

.input-title span{
    padding: 0.5rem;
    background-color: hsl(202, 86%, 94%);
    border-radius: 0.2rem;
    color: hwb(203 60% 16%);
}
.input-title.border {
    border: 1px solid hsl(4, 69%, 50%);
}

.input-title.border .amount-symbol, .input-title.border .term-interest-span{
    background-color: hsl(4, 69%, 50%);
    color: white;
}

.value.input-title:focus-within , .value.input-title:focus-within:hover{
    border: 1px solid hsl(61, 70%, 52%);
}

.input-title:focus-within .term-interest-span, .input-title:focus-within .amount-symbol{
    background-color: hsl(61, 70%, 52%);
    border: 1px solid hsl(61, 70%, 52%);
}

.input-title span.amount-symbol {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-title span.term-interest-span{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input[type='radio'] {
    appearance: none;
    width: .5rem;
    height: .5rem;
    margin-right: .5rem;
    outline: 2px solid hsl(202, 55%, 16%);
    outline-offset: 3px;
    border-radius: 50%;
 }

input[type='radio']:checked{
    background-color: hsl(61, 70%, 52%);
 }

.radio.input-title.selected{
    background-color: hsl(61, 70%, 80%);
    border: 1px solid hsl(61, 70%, 52%);
}

.radio.input-title.selected input[type='radio'] {
    outline: 3px solid hsl(61, 70%, 52%);;
}


.input-title .value-input {
    width: 100%;
    font-weight: 700;
    padding: 0.5rem;;
    outline: none;
    border: 0;
}

.value.input-title:hover {
    border: 1.3px solid hsl(202, 55%, 16%);
    cursor: pointer;
}

.morgage-calc-container .calculator-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.morgage-term-interest {
    display: flex;
    gap: 10px;
}

.container p {
    color: hsl(200, 26%, 54%);
    font-weight: 500;
    font-size: 0.8rem;
}

.calculator-heading a {
    color: hsl(200, 26%, 54%);
    font-weight: 500;
    font-size: 0.8rem;
} 

.calculator-heading a:hover {
    cursor: pointer;
    font-weight: 550;
}


.radio.input-title{
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    padding: 0.5rem 1rem;
    font-weight: 630;
    font-size: 0.9rem;
}


.radio.input-title .input-margin {
    margin-right: 0.5rem;
}

p.error-msg {
    margin-top: 0.5rem;
    color: hsl(4, 69%, 50%);
    font-size: 0.7rem;
    font-weight: 600;
}

.button {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: hsl(61, 70%, 52%);
    padding: 0.6rem;
    font-weight: bolder;
    font-size: 0.8rem;
    border-radius: 30px;
    margin-top: 0.7rem;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(63, 63%, 84%);
}

.result-container {
    background-color: hsl(200, 51%, 18%);
    color: hsl(0, 0%, 100%);
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    border-bottom-left-radius: 3.5rem;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-results-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.completed-results-container {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    justify-content: start;
}

.payment-container {
    position: relative;
    margin-top: 1rem;
    z-index: 1; 
}

.payment {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.payment .payment-box p {
    margin-bottom: 0.8rem;
}

.payment-box #monthly-rep {
    color: hsl(61, 70%, 52%);
}

.payment-container .payment {
    padding: 1.2rem;
    background-color: hsl(201, 64%, 14%);
    border-radius: 0.3rem;
    width: 100%;
    z-index: 2;
}

.payment-container .payment::before{
    content: '';
    position: absolute;
    background-color: hsl(61, 70%, 52%);
    width: 99%;
    height: 98%;
    bottom: 0.4rem;
    left: 0.5%;
    border-radius: 0.3rem;
    z-index: -1;
}

@media screen and (max-width: 700px) {
    .container {
        margin-top: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 375px;
        background-color: hsl(0, 0%, 100%);
    }
    .result-container {
        border-top-right-radius: 0;
        border-bottom-right-radius: 1.6rem;
        border-bottom-left-radius: 1.6rem;
    }
}

